<th:block layout:decorator="common/layout">
  <head>
    <title>home</title>
  </head>

  <th:block layout:fragment="content">
    <h1>機能紹介(実装予定？？？)</h1>

    <div class="row">
      <div class="panel-group">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              部屋の時計のタイマー
            </div>

            <div class="panel-body">
              時間設定<br />
              Σ(ﾟДﾟ)
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</th:block>